.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 20px;
}
/* start style header */
.header {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.frame_568 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame_307 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.line {
    height: 2px;
    align-self: stretch;
    width: 100%;
    background-color: #262626;
}
.searchTerm {
    width: 100%;
    background-color: var(--main-color);;
    border: 1px solid #121212;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    }
.searchTerm:focus{
    color: #380136;
    }
.searchButton {
    height: 32px;
    border: 1px solid #121212;
    background:var(--main-color);
    text-align: center;
    color: var(--main-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    }
.Button {
    display: flex;
    padding: 4px 24px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--color-element);
} 
.button_header {
    background: var(--color-element);
    cursor: pointer;
    border: aliceblue;
}
span {
    color: var(--gray-gray-3, #F5F5F5);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
.frame_6 {
    width: 40%;
}
.frame_7 {
    width: 40%;
}
.frame_574 {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
.frame_7 p {
    color:  #8C8C8C;
    text-align: left;
    font-family: Circe;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


/* start style menu */
.frame_555 {
    position: relative;
    background: var(--color-element)    
}
.frame_555:before,
.frame_555:after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 3px;
}
.frame_555:before {
    top: 0;
    border-bottom: 1px dashed rgba(255,255,255,.2);
  }
  .frame_555:after {
    bottom: 0;
    border-top: 1px dashed rgba(255,255,255,.2);
  }
  .menu-main {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

.menu-main:before,
.menu-main:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 0;
    top: 8px;
  }
  .menu-main:before {
    left: -30px;
    border-left: 12px solid rgba(255, 255, 255, 0);
  }
  .menu-main:after {
    right: -30px;
    border-right: 12px solid rgba(255, 255, 255, 0);
  }
.menu-main li {
    display: inline-block;
    margin-right: -4px;
    cursor: pointer;
  }
  .menu-main a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    color: var(--gray-gray-9, #262626);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    transition: .3s linear;
  }
.menu-main a.current,
.menu-main a:hover {background: rgba(0,0,0,.2);}
/* @media (max-width: 680px) {
.top-menu {margin: 0;}
.menu-main li {
  display: block;
  margin-right: 0;
}
.menu-main:before, 
.menu-main:after {content: none;}
.menu-main a {display: block;}
} */
.menu_main_line {
    transform: rotate(90deg);
    width: 2%;
    height: 2px;
    background-color: #262626;
    position: absolute;
    top: 25px;
}
.menu_image {
    cursor: pointer;
}
    /* end style menu */
/* end style header */

.item-1 {
background-image: url(../img/Frame\ 570\ \(1\).png);
background-size:100% 100%;
grid-column: 1 / span 2;
grid-row: 1 / span 2;
}

.item{
display: flex;
justify-content: space-between;
align-content: center;
}

.item img{
    width: 5vw;
    height: fit-content;
}

.item p{
    color: #8C8C8C;
    font-size: 1vw;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.mainFeedback{
    margin-top: 20vh;
}
.feedback{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2vw;
    background-color: #1B1B1B;
    padding: 2vw;
}

.line .estimation {
    margin-left: 2vw;
    font-size: 3.5vw;
}

.feedback button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.line h4{
font-family: Gilroy;
font-size: 40px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
}

.line p{
    font-family: Gilroy;
    font-size: 25px;
    margin: 0;
}

.line button{
    padding: 10px;
    background-color: #3321BC;
    color: aliceblue;
}


.textFeedback{
    width: 70%;
}